<template>
  <div class="dashboard">
      <div class="container">

          <!-- <div class="columns">
              <div class="column">
                  a
              </div>
          </div> -->

            <!-- Navbar -->
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://bulma.io">
                        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
                    </a>

                    <div class="navbar-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email">
                    <!-- <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span> -->
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
            </nav>
            <!-- /Navbar -->

            <!-- Body -->
            <div class="columns is-multiline">

                <div v-for="item in itens" class="column is-one-quarter">
                    {{ item.category }}
                </div>

            </div>
            <!-- /Body -->


      </div>
  </div>
</template>

<style>
    /* A regra padrão é esconder, mas para se adequar ao layout, está sendo mostrado */
    .navbar-burger {
        display: block;
    }
</style>

<script>

const lista = require("../assets/lista");

export default {

    name: 'Dashboard',
    data(){
        return {
            itens : lista.itens()
        }
    },
    created(){
        console.log( lista.itens() )
    },
    methods : {

        jsonToData: function(){





        }

    }
  
}
</script>


